@charset "UTF-8";

 /*configurações gerais*/

 *{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: whitesmoke;
    text-shadow: 3px 3px 0px brown;
    padding: 10px;
}



        /* declaração retrato */
        @media screen and (orientation: portrait) {
            body{
                background-image: url(../imagens/cev-portrait.jpg);
                background-position: center bottom;
        }
        }
        /* declaração paisagem */
        @media screen and (orientation: landscape) {
            body{
                background-image: url(../imagens/cev-landscape.jpg);
                background-position: left bottom;
            }
        }